.parent {
    display: flex;
    justify-content: space-around;
  }
  
  #left12 {
    width: 70%;
    height: 250px;
    background-color: rgb(223, 182, 182);
    border-radius: 10px;
  }

  p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: medium;
  }
